// typekit

@mixin fnt-primary-medium() {
    font-family: "purista-web";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

@mixin fnt-primary-light() {
    font-family: "purista-web";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

@mixin fnt-secondary-light() {
    font-family: "nudista-web";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

@mixin fnt-secondary-medium() {
    font-family: "nudista-web";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

@mixin fnt-secondary-regular() {
    font-family: "nudista-web";
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
