
.m-light-nav {

    .m-icon {
        & > i {
            display: none;
        }

        background-repeat: no-repeat;
        background-position: top center;

        display: inline-block;
        height: 19px;
        width: 19px;
        margin: 0 2px;

        &.mm-top {
            background-image: url("/assets/ikony/nav-small-top.png");
            width: 21px;
            height: 21px;
            margin-right: 20px;
        }
        &.mm-next {
            background-image: url("/assets/ikony/nav-small-next.png");
        }
        &.mm-prev {
            background-image: url("/assets/ikony/nav-small-prev.png");
        }

        &:hover {
            background-position: bottom center;
        }
    }

    &.mm-big {
        .m-icon {
            height: 50px;
            width: 50px;
            margin: 0 8px;

            &.mm-top {
                background-image: url("/assets/ikony/nav-top.png");
            }
            &.mm-next {
                background-image: url("/assets/ikony/nav-next.png");
            }
            &.mm-prev {
                background-image: url("/assets/ikony/nav-prev.png");
            }
        }
    }

}

//
