// preloader
.m-preload {
    position: fixed;
    z-index: 10000;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .m-item--image {
        position: fixed;
        left: 0;
        right: 0;
        top: 45%;
        bottom: 55%;
        margin: auto;
        width: 168px;
        height: 168px;
    }
}

body {
    overflow: hidden;
}
