
.m-light-nav {
    margin-bottom: 20px;

    .m-icon,
    .mm-current {
        background-repeat: no-repeat;
        background-position: top center;

        display: inline-block;
        height: 19px;
        width: 19px;
        margin: 0 2px;
        line-height: 19px;
        vertical-align: middle;
    }

    .mm-current {
        text-align: center;
        width: auto;
        padding: 0 10px;
    }

    .m-icon {
        & > i {
            display: none;
        }

        &.mm-top {
            background-image: url("../assets/ikony/nav-small-top.png");
            width: 21px;
            height: 21px;
            margin-right: 20px;
        }
        &.mm-next {
            background-image: url("../assets/ikony/nav-small-next.png");
        }
        &.mm-prev {
            background-image: url("../assets/ikony/nav-small-prev.png");
        }

        &:hover {
            background-position: bottom center;
        }
    }

    &.mm-big {
        margin-bottom: 30px;
        .m-icon,
        .mm-current {
            height: 50px;
            width: 50px;
            line-height: 50px;
            margin: 0 8px;
        }

        .mm-current {
            border: 1px solid black;

            width: auto;
            height: 52px;
            line-height: 52px;
            padding: 0 20px;
        }

        .m-icon {
            &.mm-top {
                background-image: url("../assets/ikony/nav-top.png");
            }
            &.mm-next {
                background-image: url("../assets/ikony/nav-next.png");
            }
            &.mm-prev {
                background-image: url("../assets/ikony/nav-prev.png");
            }
        }



    }

    &.mm-centerd {
        width: auto;
        display: inline-block;
        position: relative;
        margin-left: 50%;
        .m-light-nav--wrap {
            transform: translateX(-50%);
        }
    }

}
