.svg-button {

    width: 54px;
    height: 54px;

    #button {
        opacity: .5;
    }

    &.mm-white {
        #button {
            stroke: #fff;
        }
    }
}

.icon-outside {
    position: relative;
    &:before {
        content: " ";
        width: 70px;
        height: 70px;
        //float: right;
        position: relative;
        display: block;
        //position: absolute;
        //left: -90px;
        margin-bottom: $base-spacing / 3;
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.m-icon {
    span {
        display: none;
    }

    width: 20px;
    height: 20px;

    display: inline-block;
    margin-left: 8px;
    line-height: inherit;
    vertical-align: baseline;


    cursor: pointer;

    &:before {
        content: " ";
        width: 20px;
        height: 20px;
        float: right;
        position: relative;
        display: block;

        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100% auto ;
    }

    &:hover {
        &:before {
        background-position: bottom left;
        }
    }



    &.xs {
        height: 17px;
        width: 17px;
        margin-left: 6px;

        &:before {
            margin-top: 2px;
            height: 17px;
            width: 17px;
        }
    }

    &.x2 {
        width: 40px;
        height: 40px;
            line-height: 40px;

        &:before {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }
    &.x4 {
        width: 100px;
        height: 100px;
        line-height: 100px;

        &:before {
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
    }

}

.i-arrow {
    &:before {
        background-image: url("../assets/ikony/sipka-big.png");
    }
}

.i-info {
    &:before {
        background-image: url("../assets/ikony/info-icon.png");
    }
}

.i-bulb {
    &:before {
        background-image: url("../assets/ikony/zarovka.svg");
    }
}

.i-clock {
    &:before {
        background-image: url("../assets/ikony/stopky.svg");
    }
}

.i-elegant {
    &:before {
        background-image: url("../assets/ikony/elegantne.svg");
    }
}

a:hover {
    .svg-button #button {
        opacity: 1;
    }
}
