$pb-bar-height: 10px;
$pb-icon-size: 52px;
$pb-bar-color: #4a4a4a;
$pb-bar-text-color: #000;

.l-section.m-progress-bar {
    padding-top: 60px;
    padding-bottom: 60px;
}

.m-progress-bar {
    background: #f9f9f9;
    height: 470px;

    .row {
        overflow: visible;

    }

    article {
        position: relative;
    }

    .arrow-left,
    .arrow-right {
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 100;
        top: 130px;
        left: 0;
        padding: 20px;
        background-color: white;

        span {
            float: right;
            display: block;
            width: 15px;
            height: 50px;
            background-image: url("../assets/ikony/nav-prev.png");
            background-repeat: no-repeat;

        }
        &:hover {
            span {
                background-position: left bottom;
            }
        }
    }

    .arrow-right {
        left: auto;
        right: 0;
        span {
            float: left;
            background-image: url("../assets/ikony/nav-next.png");
        }

    }

    h2 {
        @include fnt-primary-headline();
        font-size: rem-calc(40);

        line-height: 1em;
        margin: 0;
        padding: 0;
        margin-bottom: 55px;
    }

    .m-progress-bar--container {
        width: 100%;
        overflow: hidden !important;
    }

    .m-progress-bar--bar-bg {
        height: $pb-bar-height;
        width: 2400px;
        border-top: 1px solid $pb-bar-color;
        border-bottom: 1px solid $pb-bar-color;
    }
    .m-progress-bar--bar {
        height: $pb-bar-height - 2;
        width: 30%;
        background-color: $pb-bar-color;
    }

    .m-progress-bar--items {
        position: relative;
        display: block;
        width: 1600px;
        height: 217px;
        margin: 0;
        padding: 0;

        li {
            display: block;
            position: absolute;
            width: 130px;
            height: 200px;
            color: $pb-bar-text-color;
            text-align: center;
            line-height: 1.3em;

            a {
                color: $pb-bar-text-color;
                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                width: $pb-icon-size;
                height: $pb-icon-size;
                margin-top: 16px;
            }

            .m-item--summary {
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
                height: 80px;
                overflow: hidden;

                .m-item--date {
                    display: block;
                    font-weight: 800;
                    padding-bottom: 4px;
                }
                .m-item--description {
                }
            }

            &:after {
                display: block;
                content: " ";
                width: 130px;
                height: 28px;
                position: absolute;
                bottom: -28px;
                text-align: center;
                background-image: url("../assets/triangle-empty.png");
                background-repeat: no-repeat;
                background-position: center top;
            }

            &.mm-full {
                &:after {
                    background-image: url("../assets/triangle-full.png");
                }
            }
        }
    }

}
