.clearing-thumbs {
    width: 100%;
    position: relative;

    li {
        display: block;
        float: left;
        margin: 0;
            padding: 20px;
        width: 50%;
        @media #{size(B)} {
            width: 33.3333%;
        }
        @media #{size(C)} {
            width: 20%;
        }
    }
}
