# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Prevent directory listing
Options -Indexes -MultiViews

<FilesMatch "\.(yml|db|twig)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine on

  # If the hostname is NOT www.domain.com
  # RewriteCond %{HTTP_HOST} !^www\.pavilon-expo2015\.cz$
  # 301 redirect to the same resource on www.domain.com
  # RewriteRule (.*) http://www.pavilon-expo2015.cz/$1 [L,R=301]


  RewriteRule cache/ - [F]

  # Some servers require the RewriteBase to be set. If so, set to the correct folder.
  # RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ ./index.php [L]

</IfModule>

