<div id="ags-slider" class="ags-slider">
    <div id="ags-slider-bounds" class="ags-slider--bounds"></div>
    <div class="ags-bg--content">
        <div class="infobox">
            <div class="title-box"><span>2015</span>Školka</div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="inner">
        <div class="content">
            <div class="ags-front--content">
                <div class="infobox2">
                    <div class="title-box"><span>2015</span>Výstavní pavilon v Miláně</div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    <div class="dragger">
        <img src="/assets/dragger.png" alt="" class="drag-button" />
    </div>
    <div class="ags-text-overlay"><strong>Český Pavilon</strong><br />EXPO 2015</div>
    <div class="cover"></div>
</div>
