<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

<head lang="en">

    <!--[if lt IE 9]>
    <script>
        window.location = '/unsupportedBrowser.html';
    </script>
    <![endif]-->

    <meta charset="UTF-8">
    <meta http-equiv="cleartype" content="on" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="640" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/site/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/site/images/apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/site/images/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/site/images/apple-touch-icon-114x114-precomposed.png" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />



    <title>Koma micro</title>

    <script src="/js/cust-modernizr.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="/components/snap-svg/dist/snap.svg-min.js"></script>

    <!-- drag support -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/utils/Draggable.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/CSSPlugin.min.js"></script>
    <script src="/components/ThrowPropsPlugin.min.js"></script>

    <script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/components/skrollr/skrollr.min.js"></script>

<script src="//use.typekit.net/lvu2xcm.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="components/slick/slick/slick.css"/>
</head>
