<footer class="m-page-footer" xmlns="http://www.w3.org/1999/html">

    <div class="row mgr-half">
        <div class="small-6 medium-7 large-4 columns">
            <h5>OFICIÁLNÍ STRÁNKY VÝSTAVY</h5>
        </div>
        <div class="small-6 medium-5 large-3 columns">
            <h5>OFICIÁLNÍ STRÁNKY VÝSTAVY</h5>
        </div>
    </div>

    {% include '_inc-partneri-bronze.twig' %}

    <div class="m-page-footer--copyright">
        <div class="row">
            <div class="m-page-footer--content small-6 large-4 columns text-left">
                © 2014 - 17 KOMA Modular
            </div>
            <div class="m-page-footer--content small-6 large-4 columns text-center">
                <strong>Český pavilon</strong> EXPO2015
            </div>
            <div class="m-page-footer--content small-12 large-4 columns text-right">
                Design&&Code OdOka
            </div>
        </div>
    </div>
</footer>

<script src="/components/foundation/js/foundation/foundation.js"></script>
<script src="/components/foundation/js/foundation/foundation.equalizer.js"></script>

