<section class="modals">  
{% setcontent modaly = 'modaly' where { statiky: taxonomie } %}
{% for modal in modaly %}
<div id="{{modal.slug}}" class="reveal-modal fixed xlarge m-modal" data-reveal>
    <article>
        <header class="row">
            <div class="small-12 columns">
                <h2 class="m-item--hed">{{ modal['title_' ~ app.locale]}}</h2>
                <!-- <div class="m-item--description">Description</div> -->
            </div>
        </header>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <div class="m-item--copy">
                    {# article body #}
                    {{ modal['body_' ~ app.locale]}}
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <div class="m-item--image">
                    {# article image #}
                    {% if modal.image %}
                    <img src="{{ thumbnail(modal.image, 320, 240, fit) }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
    <a class="close-reveal-modal">&#215;</a>
</div>
{% endfor %}
</section>