<!-- partners gold -->
<div class="l-section mm-dark">
    <article>
        <header class="clearfix mgr-full row">
            <div class="small-12 columns">
                <h1 class="fnt-primary-headline">Hlavní partneři pavilonu (gold)</h1>
            </div>
        </header>

        <div class="row l-partner_large">

            <article class="small-6 columns m-partner">
                <header>
                    <a href="pavilon.php">
                        <img class="m-item--image" src="/assets/modul.png" />
                        <h1 class="m-item--hed">Patner</h1>
                        <div class="m-item--description">Normální náhled příspěvku s tak nějak decentně dlouhým názvem</div>
                    </a>
                </header>
            </article>

            <article class="small-6 columns m-partner">
                <header>
                    <a href="pavilon.php">
                        <img class="m-item--image" src="/assets/modul.png" />
                        <h1 class="m-item--hed fnt-primary-body-m">Patner</h1>
                        <div class="m-item--description">Normální náhled příspěvku s tak nějak decentně dlouhým názvem</div>
                    </a>
                </header>
            </article>

        </div>
    </article>
</div>

<!-- partners gold -->
<div class="l-section">
    <article>
        <header class="clearfix mgr-full row">
            <div class="small-12 columns">
                <h1 class="fnt-primary-headline">Další pratneři</h1>
            </div>
        </header>

        <div class="row l-partner_xsmall">
            <ul class="small-block-grid-6">

                <?php for($i=0; $i<6; $i++) { ?>
                    <li>
                        <article class="m-partner">
                            <header>
                                <img class="m-item--image" src="/assets/modul.png" />
                                <h1 class="m-item--hed">firma</h1>
                                <div class="m-item--description">firma</div>
                            </header>
                        </article>
                    </li>
                <?php }  ?>

            </ul>
        </div>
    </article>
</div>
