<?php include "templates/html-header.php"; ?>
<body class="l-page_pavilon">
<?php include "templates/inc-topbar.php"; ?>

<div class="l-schema m-schema">
    <div class="m-schema--decoration mm-top"></div>
    <div class="m-schema--decoration mm-bottom"><i>scroll down</i></div>
    <div class="m-schema--frame">
        <div class="m-schema--left">


            <div class="m-schema--label label1" data-anchor-target="#animAnchor2"  data-center="opacity:1;z-index:100" data-top="opacity:0;z-index:0">
                <h2 class="m-item--hed"><strong>Přízemí:</strong> Země – Voda</h2>

                <div class="m-item--description">
                    Relaxační vodní plocha, pohodlná lehátka i výtečná restaurace připomenou návštěvníkům českou pohostinnost hned po vstupu do areálu.
                </div>
                <ul class="mm-red">
                    <li>
                        <h3>
                            <span>1.</span>URBÁNNÍ BAZÉN<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Český sen o moři symbolizuje urbánní bazén pavilonu. Mělký bazén zároveň splní úlohu relaxační plochy.</p>
                    </li>
                    <li>
                        <h3>
                            <span>2.</span>BUFET<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Občerstvení pro všechny kteří chtějí skočit do vody i všem ostatním, kteří relaxují u bazénu.</p>
                    </li>
                    <li>
                        <h3>
                            <span>3.</span>RESTAURACE<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>O pohodlí a knedlíky nebude v pavilonu nouze. Zázemí restaurace vyhovuje nejpřísnějším hygienickým předpisům i dostatečným pohodlím.</p>
                    </li>
                    <li>
                        <h3>
                            <span>4.</span>AMFITEÁTR<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Schody vedoucí do prvního patra nejsou obyčejné schody. Slouží také k odpočinku ve stínku i jako přednáškový sál!</p>
                    </li>
                </ul>
            </div>


            <div class="m-schema--label label2" data-anchor-target="#animAnchor3" data-bottom="opacity:0;z-index:1" data-center="opacity:1;z-index:100" data-top="opacity:0;z-index:1">
                <h2 class="m-item--hed">1. patro: Země příběhů a fantazie</h2>

                <div class="m-item--description">
                    V první části expozice se každý měsíc představí jeden kraj České republiky vlastní výstavou. Dominantu prostoru tvoří Český les.
                </div>
                <ul class="mm-green">
                    <li>
                        <h3>
                            <span>1.</span>NÁRODNÍ EXPOZICE<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>V národní expozici s názvem “Země příběhů a fantazie” se v průběhu konání výstavy vystřídají expozice z 8 vybraných krajů České republiky</p>
                    </li>
                    <li>
                        <h3>
                            <span>2.</span>LABORATŘ TICHA / ČESKÝ LES<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Speciální umělecký objekt reprezentující české umění</p>
                    </li>
                    <li>
                        <h3>
                            <span>3.</span>ZÁZEMÍ<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>První patro ukrývá zázemí pro personál i návštěvy.</p>
                    </li>

                </ul>
            </div>


            <div class="m-schema--label label3" data-anchor-target="#animAnchor4" data-bottom="opacity:0;z-index:1" data-center="opacity:1;z-index:100" data-top="opacity:0;z-index:1">
                <h2 class="m-item--hed">2. patro: Laboratoř života</h2>

                <div class="m-item--description">
                    Patru dominuje originální stálá expozice z dílen studentů ČVUT, umělců a tak dále, a tak dále.
                </div>
                <ul class="mm-blue">
                    <li>
                        <h3>
                            <span>1.</span>TRVALÁ EXPOZICE<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Stálá expozice bude prezentovat výsledky vědy doplněné uměleckými předměty předních českých umělců.</p>
                    </li>
                    <li>
                        <h3>
                            <span>2.</span>UMĚLECKÝ OBJEKT<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Kinetická plastika společnosti Lasvit, která byla premiérově představena na výstavě v Miláně 2014 Salone Internazionale del Mobile.</p>
                    </li>
                    <li>
                        <h3>
                            <span>3.</span>V.I.P. SALONEK<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>VIP salonek, který bude sloužit partnerům k prezentacím, konferencím a schůzkám.</p>
                    </li>

                </ul>
            </div>


            <div class="m-schema--label label4" data-anchor-target="#animAnchor5" data-bottom="opacity:0;z-index:1" data-center="opacity:1;z-index:100">
                <h2 class="m-item--hed">Střecha: Zahrada & relax</h2>

                <div class="m-item--description">
                    Střechu pavilonu pokrývá zeleň. Poskytuje výhled do areálu, místo k nadechnutí, zklidnění i relaxaci. Poskytuje prostor pro společenské akce partnerů.
                </div>
                <ul class="mm-yellow">
                    <li>
                        <h3>
                            <span>1.</span>STŘEŠNÍ ZAHRADA<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Relaxační plocha plná zeleně poskytne návštěvníkům přehled o celém areálu EXPO2015 v Miláně i příjemný posez a tak dále.</p>
                    </li>
                    <li>
                        <h3>
                            <span>2.</span>UMĚLECKÝ OBJEKT<i class="m-icon i-info mm-hover" data-reveal-id="myModal"><span>moreinfo</span></i>
                        </h3>

                        <p>Zatím tajemstvím opředená expozice (Diaz) reprezentující stav umění v Česku.</p>
                    </li>


                </ul>
            </div>


        </div>
        <div class="m-schema--right">
            <div class="m-schema--slides">
                <div class="m-schema--image np1"></div>
                <div class="m-schema--image np2" data-anchor-target="#animAnchor2" data-bottom="opacity:0;" data-center="opacity:1;" data-top="opacity:0;"></div>
                <div class="m-schema--image np3" data-anchor-target="#animAnchor3" data-bottom="display:none" data-center="opacity:0;display:block" data-top="opacity:1;"></div>
                <div class="m-schema--image np4" data-anchor-target="#animAnchor3" data-bottom="transform:translate(0px,-600px)" data-center="opacity:1;transform:translate(0px,0px)" data-top="opacity:0;transform:translate(0px,0px)"></div>
                <div class="m-schema--image np6" data-anchor-target="#animAnchor4" data-bottom="transform:translate(0px,-600px)" data-center="opacity:1;transform:translate(0px,0px)"></div>
                <div class="m-schema--image np7" data-anchor-target="#animAnchor5" data-bottom="transform:translate(0px,-600px)" data-center="transform:translate(0px,0px)"></div>
                <div class="m-schema--overlay"></div>
            </div>
        </div>
    </div>
</div>


<div id="skrollr-body">

    <div class="m-carousel">
        <div class="m-carousel--item">
            <div class="m-item--image" style="background-image: url('/assets/photos/pavilon/s32.jpg');"></div>

            <div class="orbit-caption">
                <div class="m-item--hed">Prohlédněte si český pavilon</div>
                <div class="m-item--description fnt-primary-body-m" style="margin-top: 200px;">
                    Český pavilon reprezentuje český sen o moři,
                    česko jako střechu Evropy.
                    Umístěn je hned u hlavního vchodu
                    a bude sloužit jako relax pro všechny návštěvníky světové výstavy.
                </div>

            </div>
            <div class="m-carousel--arrow-down">
                <img src="/assets/ikony/arrow-down.png" alt="" />
            </div>
        </div>
    </div>


    <div class="m-schema-spacer"></div>
    <div class="m-schema-spacer"></div>

    <div class="m-schema-control" id="animAnchor2"><span>a2</span></div>
    <div class="m-schema-spacer"></div>
    <div class="m-schema-control" id="animAnchor3"><span>a3</span></div>
    <div class="m-schema-spacer"></div>
    <div class="m-schema-control" id="animAnchor4"><span>a4</span></div>
    <div class="m-schema-spacer"></div>
    <div class="m-schema-control" id="animAnchor5"><span>a5</span></div>
    <div class="m-schema-spacer-half"></div>


    <div class="skrollr-wrap">

        <div class="l-section mm-dark" style="background-image: url('/assets/photos/pavilon/cze-expozice.jpg');">
            <article>
                <div class="row">
                    <header class="medium-5 columns" style="position: relative; height: 400px;">
                        <h1 class="m-item--hed fnt-white">Prohlédněte si české expozice</h1>

                        <div class="fnt-secondary-headline fnt-white fnt-shadow" style="position: absolute; bottom: 20px;">
                            UPOZORNĚNÍ:<br />
                            Prohlížení fotogalerie z expozic bude možné až po oficiálním otevření pavilonu 1. ledna 2015.
                        </div>
                    </header>
                    <footer class="medium-2 columns">
                        <a href="/pavilon.php" title="Pavilon">
                            <div class="svg-button mm-white">
                                <svg width="54px" height="54px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                    <g id="button" sketch:type="MSArtboardGroup" stroke="#000000" stroke-width="4">
                                        <g sketch:type="MSLayerGroup" transform="translate(2.000000, 2.000000)">
                                            <circle id="Oval-10" sketch:type="MSShapeGroup" cx="25" cy="25" r="25" fill="none"></circle>
                                            <path d="M10.7253085,25.5555554 L39.2851168,25.5555554" id="Line" fill="none"></path>
                                            <path d="M26.5941654,10.8213824 L40.5320305,24.7102713 L26.5941654,38.6481364" fill="none"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </footer>


                </div>
            </article>
        </div>


        <div class="row l-section">
            <div class="medium-6 columns">
                <article class="m-story">
                    <header>
                        <div class="small-12 columns">
                            <h1 class="m-item--hed">Budoucnost pavilonu</h1>
                        </div>
                        <div class="small-4 columns">
                            <div class="m-item--image">
                                <img src="/assets/modul.png" alt="" />
                            </div>
                        </div>
                        <div class="small-8 columns">
                            <div class="m-item--description">
                                <p>Lorem ipsum základní výhody modulární výstavby lorem ipsum Hendis alition secus. Ebitem fugitectu- sda dolupta volorei untissi ra sum venda consedi sedist, volorehenes autem ut que volore veles.</p>
                            </div>
                        </div>
                    </header>
                </article>
            </div>

            <div class="medium-6 columns">

                <article class="m-story">
                    <header>
                        <div class="small-12 columns">
                            <h1 class="m-item--hed">Budoucnost pavilonu</h1>
                        </div>
                        <div class="small-4 columns">
                            <div class="m-item--image">
                                <img src="/assets/modul.png" alt="" />
                            </div>
                        </div>
                        <div class="small-8 columns">
                            <div class="m-item--description">
                                <p>Lorem ipsum základní výhody modulární výstavby lorem ipsum Hendis alition secus. Ebitem fugitectu- sda dolupta volorei untissi ra sum venda consedi sedist, volorehenes autem ut que volore veles.</p>
                            </div>
                        </div>
                    </header>
                </article>

            </div>
        </div>

        <div class="l-section mm-dark">
            <div class="row ">
                <div class="medium-12 columns"><h2>Za konceptem</h2></div>
                <div class="medium-6 columns">
                    <p>Pavilonu stojí přední výrobce modulární výstavby KOMA a jejich dvorní architekti.</p>
                </div>

                <div class="medium-6 columns">
                    <p>text</p>
                </div>
            </div>
        </div>


        <?php include "templates/inc-footer-partner.php"; ?>
        <?php include "templates/inc-footer.php"; ?>


    </div>

</div>


<!-- modals -->
<section class="modals">
    <div id="myModal" class="reveal-modal fixed xlarge" data-reveal>
        <h2>Awesome. I have it.</h2>

        <p class="lead">Your couch. It is mine.</p>

        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</section>



<script type="text/javascript" src="components/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="components/foundation/js/foundation/foundation.reveal.js"></script>
<script type="text/javascript">

    $(document).foundation();




    $(document).ready(function () {
        $(".m-carousel > .m-carousel--item").css('height', $(window).height() - 100);
        // $(".m-carousel-holder").css('height', $(window).height());

        /* $('.m-carousel').slick({
         autoplay: false,
         speed: 500,
         fade: true,
         cssEase: 'linear'
         });*/

        $(".m-schema-spacer").each(function () {
            var el = $(this);
            el.css('height', $(window).height() * 0.76);
        });
        $(".m-schema-spacer-half").each(function () {
            var el = $(this);
            el.css('height', ($(window).height() * 0.76) * 0.5);
        });


        var menuBreakPoint = $(window).height() * .9;

        $(window).resize(function () {
            // update menu break point
            menuBreakPoint = $(window).height() * .9;

            // resize carousel

            // $(".m-carousel").css('height', $(window).height());
            //$(".m-carousel-holder").css('height', $(window).height());
            //$(".m-carousel > .m-carousel--item").css('height', $(window).height());

        });

        // menu swithching
        /*$(window).scroll(function () {
            console.log('st:' + $(window).scrollTop());
            if ($(window).scrollTop() > menuBreakPoint) {
                $(".m-nav").addClass("mm-white");
                $(".m-nav").removeClass("mm-black");
            } else {
                $(".m-nav").addClass("mm-black");
                $(".m-nav").removeClass("mm-white");
            }
        });*/

        var s = skrollr.init({
            smoothScrolling: false,
            mobileDeceleration: 0.01
        });

    });


</script>

<script src="/js/app.js"></script>

</body>
<?php include "templates/html-footer.php"; ?>
