
//optimize
.m-list {

    padding-top: $base-spacing;

    header > h2 {
        @include fnt-primary-bold();
        font-size: rem-calc(18);
        text-decoration: underline;
        margin-bottom: $base-spacing / 2;
    }

    &.mm-dark {
        background-color: #FBFBFB;
    }

    .m-item {
        font-size: rem-calc(16);
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        padding-bottom: 8px;
        * {
            display: inline;
        }

        .m-item--hed {
            line-height: 1.2em;
            font-size: rem-calc(16);
            a {
                color: $koma;
                &:hover {
                    color: $color-koma-red;
                }
            }
        }

        .m-item--meta {
            @include fnt-primary-headline();
            line-height: 1.2em;
            font-size: rem-calc(16);
            display: inline;
            color: #777;

            & > * {
                &:before {
                    display: inline;
                    content: "/";
                    padding-right: .22em;
                }
            }
        }

        &:last-of-type {
            border-bottom: none;
            margin-bottom: $base-spacing;
        }

    }
}
