@import "../components/foundation/scss/normalize";
@import "../components/bourbon/bourbon";

// Foundation
$color-koma-red: #c20e1a;
$color-koma-red-slider: #A0000B;
$base-spacing: 60px;
$navbar-height_AB: 48px;
$navbar-height_CD: 74px;
$navbar-height: $navbar-height_AB;

@import "settings";
@import "foundation";

// custom grid ABCD
@import "mixins/grid";

// custom components
@import "modules/module-fonts";
@import "modules/module-font-styles";
@import "modules/module-preload";

@import "modules/module-navigation";
@import "modules/angle-slider";
@import "modules/schema";

@import "modules/module-home-sections";
@import "modules/module-progress-bar";
@import "modules/module-page-footer";
@import "modules/module-carousel";
@import "modules/module-gallery";

// html spacing classes
.mgr-full {
    margin-bottom: $base-spacing;
}

.mgr-double {
    margin-bottom: $base-spacing * 2;
}

.mgr-half {
    margin-bottom: $base-spacing / 2;
}

.mgr-third {
    margin-bottom: $base-spacing / 2;
}

.l-page {

    padding-top: $navbar-height;

    &.l-page_home,
    &.l-page_pavilon,
    &.l-page_blog {
        padding-top: 0;
    }

}
@import "modules/module-hero";
@import "modules/module-blog";
@import "modules/module-list";
@import "modules/module-icons";
@import "modules/module-content-partner";
@import "modules/module-content-story";
@import "modules/module-breadcrumbs";
@import "modules/module-light-nav";

@import "modules/override-modal";
@import "modules/override-row";

// pagination
.l-page_blog .pagination {
    padding: 0 50px;
}

.m-pagination {
    & > div {
        display: inline-block;
        padding: 20px 30px;
        font-size: rem-calc(18);
    }
    .current {
        border: 1px solid black;
    }
}

//

#skrollr-body {
    pointer-events: none;
}

// dbg
body {
    height: auto;
}


