@import "../components/foundation/scss/normalize";
@import "../components/bourbon/bourbon";

// Foundation
$color-koma-red: #c20e1a;
$color-koma-red-slider: #A0000B;
$base-spacing: 50px;
$navbar-height_AB: 48px;
$navbar-height_CD: 74px;
$navbar-height: $navbar-height_AB;

@import "settings";
@import "foundation";

// custom grid ABCD
@import "mixins/grid";

// custom components
@import "modules/module-fonts";
@import "modules/module-font-styles";

@import "modules/module-navigation";
@import "modules/angle-slider";
@import "modules/schema";

@import "modules/module-home-sections";
@import "modules/module-progress-bar";
@import "modules/module-page-footer";
@import "modules/module-carousel";


// html spacing classes
.mgr-full {
    margin-bottom: $base-spacing;
}

.mgr-double {
    margin-bottom: $base-spacing * 2;
}

.mgr-half {
    margin-bottom: $base-spacing / 2;
}

.mgr-third {
    margin-bottom: $base-spacing / 2;
}


.l-page {

    padding-top: $navbar-height;

    &.l-page_home,
    &.l-page_pavilon,
    &.l-page_blog {
        padding-top: 0;
    }

}

.l-section {
    @include clearfix();
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    h1 {
        margin-top: -0.2em;
    }
}

@import "modules/module-to-optimize";
@import "modules/module-icons";
@import "modules/module-content-partner";
@import "modules/module-content-story";
@import "modules/module-breadcrumbs";
@import "modules/module-light-nav";



@import "modules/override-row";


#skrollr-body {
    pointer-events: none;
}


// modal

.reveal-modal {
    &.fixed {
    position: fixed;
    top: 10% !important;
    bottom: 10%;
    margin: auto;
    }
}
